<!doctype html>
<html>


<div class="jumbotron">
    <br><br><br><br><br><br>
    <h1 class="display-2">Book Your Sport</h1>
    <p class="lead text-center">Réserve ton terrain en quelques clics!</p>
    <hr class="my-4">
    <form>
        <select class="custom-select" style="width:300px; margin:10px;">
          <option value="0">Football</option>
          <option value="1">Basket-ball</option>
          <option value="2">Volley-ball</option>
        </select>
        <input type="date">
        <input type="time">
        <select class="custom-select" style="width:300px;">
          <option value="0">Paris</option>
          <option value="1">Lyon</option>
          <option value="2">Marseille</option>
        </select>
        <input type="submit" value="Trouver une salle" class="btn btn-warning btn-lg">
        <%= link_to "Trouver une salle", timeslots_path %>
    </form>
</div>

<% scrap = ScrapLeFive.new.perform %>

<p id="notice">
  <%= notice %>
    </p>
    <br><br>
    <h1>Exemple de créneau disponible le 22 Décembre à 10h au centre LeFive d'Annemasse (Scrappé en temps réel)</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
         

                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-content">
                            <button type="button" class="btn btn-warning right">Réserver ce créneau</button>
                            <b>
                          <p>&nbsp; &nbsp; DATE : <%=scrap[0]%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HEURE : <%=scrap[1]%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; DUREE <%=scrap[2]%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; PRIX <%=scrap[3]%>
                          </p>
                    </div>
                </div>
            </div>
            <br>
                    </tbody>
      </table>
  

  
<footer>
    <p>Posted by: Guillaume Vidale, Hilal Bushera, Emilio Lecerf, Michael Krasnovsky, Estelle Ballif</p>
    <p>Contact information: <a href="mailto: bookyoursport@yahoo.com">bookyoursport@yahoo.com</a></p>
</footer>


      </html>