<DOCTYPE html>
    <html>

    <head>
        <title>Timeslot</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="asset/stylesheet">
    </head>

<<<<<<< HEAD
            <%#= # params[:date] %>
           <%#=params[:time][:choice] %>
           <%#=params[:duration][:choice] %>
           <%#=params[:city][:choice]%> 

          <% scrap = ScrapLeFive.new.perform(params[:city][:choice], params[:time][:choice], params[:duration][:choice],params[:date]) %>


<p id="notice">
  <%= notice %>
    </p>
    <br><br>
    <h3> Recherche pour la ville de <%=params[:city][:choice]%> à  <%=params[:time][:choice]%>, durée de  <%=params[:duration][:choice]%> à la date du  <%=params[:date]%> </h3>
    <br>
    <table>
        <thead>
            <tr>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
          <% i = 0 %>
         

          <% scrap[0].length.times do%>
=======
    <body>
        <p id="notice">
            <%= notice %>
        </p>
        <%= notice %>
            </p>
            <br><br>
            <h1 class="Montserrat">Créneaux disponibles</h1>
            <br>
            <table>
                <thead>
                    <tr>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% #scrap = ScrapLeFive.new.perform %>
                        <p id="notice">
                            <%= notice %>
                        </p>
                        <br><br>
>>>>>>> master

                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% i = 0 %>

<<<<<<< HEAD
                          <p>

                            &nbsp; &nbsp; DATE : <%=scrap[0][i]%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HEURE : <%=scrap[1][i]%>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
                            DUREE  <%=scrap[2][i]%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; PRIX  <%=scrap[3][i]%>
                           
=======
                                    <% #scrap[0].length.times do%>
>>>>>>> master

                                        </div>
                                        </div>
                                        <% #i = i+1 %>
                                            <% #end %>
                                                <br>

                            </tbody>
                        </table>
                        <div class="center">
                            <div class=" timeslot-style card border-warning mb-3 center">
                                <div class="card-body center">
                                    <h4 class="card-title center ">
                                        22/12/2019
                                        <%#=scrap[0][i]%> 13h00
                                            <%#=scrap[1][i]%> 1h30
                                                <%#=scrap[2][i]%> 80€
                                                    <%#=scrap[3][i]%>
                                    </h4>
                                    <button type="button" class="btn btn-warning right">Réserver</button>
                                </div>
                            </div>
                        </div>

<<<<<<< HEAD
             <% i = i+1 %>
              <% end %>
=======
>>>>>>> master

    </body>

    </html>

    <html>

    </html>