<div class="center">

    <%= form_tag charges_path(:date => params[:date],:hour => params[:hour], :duration => params[:duration], :price => params[:price]) do %>
        <article>
            <% if flash[:error].present? %>
                <div id="error_explanation">
                    <p>
                        <%= flash[:error] %>
                    </p>
                </div>
                <% end %>
                    <br><br>
                    <div class="alert alert-warning center" role="alert">
                    <h1 class="Montserrat">
                        <span>Souhaitez-vous confirmez votre réservation du <%= params[:date]%> </span>
                        <span>à <%= params[:hour]%></span>
                        <span>h, durant <%= params[:duration]%></span>
                        <span>h pour le prix de <%= params[:amount]%>?</span>
                    </h1>
                    </div>
                    <br><br>
                    </label>
        </article>
        <div class="center">


            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Réservez votre créneau" data-currency="EUR" data-amount="<%= params[:amount].to_f*100 %>" data-locale="auto">
            </script>
            <% end %>
        </div>
</div>