<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="assets/logo_BYS.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
    <nav class="navbar navbar-expand topnav">
        <!-- <div class="sticky "> -->
        <%= image_tag("logo_BYS.png", :alt => "BYS logo", :class => "img-s") %>
        <%=link_to "Accueil", root_path, class: "btn btn-inverse" %>
        <%= link_to "L'équipe", root_path, class: "btn btn-inverse" %>
        <%= link_to "A propos", root_path, class: "btn btn-inverse" %>
        <div>
            <% if user_signed_in? %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "Connexion", new_user_session_path, class: "btn btn-inverse" %>
            <%= link_to "Inscription", new_user_registration_path, class: "btn btn-inverse" %>
            <% end %>
        </div>
        <!-- </div> -->
    </nav>
</header>


<body>
    <%= yield %>

</body>

<footer>

    <!-- START FOOTER -->

    <p> Contact information: <a href="mailto: bookyoursport@yahoo.com"> bookyoursport @yahoo.com </a></p>
    <p>Make with love ♥ : Guillaume VIDALE, Hilal BUSHERA, Emilio LECERF, Michael KRASNOVSKY, Estelle BALLIF </p>

    <!-- END FOOTER -->
</footer>

</html>